<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Pedido</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">

    <h2>Editar Estado de Pedido 2</h2>
    <div>
        <form class="form-horizontal" th:object="${pedido}" th:action="@{/pedidoState}" method="post">
            <input type="hidden" th:field="*{id}"/>


            <input type="hidden" th:field="*{direccion}"/>
            <input type="hidden" th:field="*{latitudPedido}"/>
            <input type="hidden" th:field="*{longitudPedido}"/>
            <input type="hidden" th:field="*{category_choice}"/>
            <input type="hidden" th:field="*{category_restaurant}"/>
            

        <!--
            <div class="col-sm-10">
                <label type="text" class="form-control" th:field="*{id_user}" th:value="${users.id}" th:text="${users.name}" />
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{direccion}"/>
                    <span style="color: red;" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Errors</span>
                </div>
            </div>

            correcto pero no guarda
            <div class="form-group">
                <label class="col-sm-2 control-label">DIRECCION:</label>
                <div class="col-sm-10">
                    <label type="text" class="form-control" th:field="*{id}" th:value="${pedido.id}" th:text="${pedido.direccion}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">DIRECCION:</label>
                <div class="col-sm-10">
                    <label type="text" class="form-control" th:field="*{pedido.id}" th:value="${pedido.direccion}" th:text="${pedido.direccion}" />
                </div>
            </div>

        -->
            <button class="btn btn-md btn-warning btn-block" type="Submit">EDITAR</button>

            <!-- ANTIGUO CARGA DE DATOS

            <div class="form-group">
                <label class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{direccion}"/>
                    <span style="color: red;" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Errors</span>
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-2 control-label">Latitud:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{latitudPedido}"/>
                    <span style="color: red;" th:if="${#fields.hasErrors('direccion')}" th:errors="*{latitudPedido}">Errors</span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Longitud:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{longitudPedido}"/>
                    <span style="color: red;" th:if="${#fields.hasErrors('direccion')}" th:errors="*{longitudPedido}">Errors</span>
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-2 control-label">Pedido:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{category_choice}"/>

                    <span style="color: red;" th:if="${#fields.hasErrors('category_choice')}" th:errors="*{category_choice}">Errors</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Restaurant:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{category_restaurant}"/>
                    <span style="color: red;" th:if="${#fields.hasErrors('category_restaurant')}" th:errors="*{category_restaurant}">Errors</span>
                </div>
            </div>


             <div class="form-group">
                <label class="col-sm-2 control-label">Usuario:</label>
                <div class="col-sm-10">
                    <label type="text" class="form-control" th:text="${user.name}" />
                </div>
            </div>

            -->

            <div class="form-group">
                <label class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{direccion}" placeholder="Direccion" class="form-control" disabled="disabled"/>
                    <label th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="validation-message"></label>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Latitud:</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{latitudPedido}" placeholder="Latitud Pedido" class="form-control" disabled="disabled"/>
                    <label th:if="${#fields.hasErrors('latitudPedido')}" th:errors="*{latitudPedido}" class="validation-message"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Longitud:</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{longitudPedido}" placeholder="Longitud Pedido" class="form-control" disabled="disabled"/>
                    <label th:if="${#fields.hasErrors('longitudPedido')}" th:errors="*{longitudPedido}" class="validation-message"></label>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Pedido:</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{category_choice}" placeholder="Category Choice" class="form-control" disabled="disabled"/>
                    <label th:if="${#fields.hasErrors('category_choice')}" th:errors="*{category_choice}" class="validation-message"></label>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Restaurant:</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{category_restaurant}" placeholder="Category Restaurant" class="form-control" disabled="disabled"/>
                    <label th:if="${#fields.hasErrors('category_restaurant')}" th:errors="*{category_restaurant}" class="validation-message"></label>
                </div>
            </div>

            <!--
            <div class="form-group">
                <label class="col-sm-2 control-label">Usuario:</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{user.name}" placeholder="user name" class="form-control" disabled="disabled"/>
                    <label th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}" class="validation-message"></label>
                </div>
            </div>
            -->

            <div class="form-group">
                <label class="col-sm-2 control-label">Usuario:</label>
                <div class="col-sm-10">
                    <label type="text" class="form-control" th:text="${user.name}" />
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Estado:</label>
                <div class="col-sm-10">
                    <select th:field="*{estadopedido}">
                        <option th:each="estadopedido: ${estados}"
                                th:value="${estadopedido.id}"
                                th:text="${estadopedido.estadope}"></option>
                    </select>
                </div>
            </div>




            <!--
            <div class="row">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Confirmar</button>
            </div>
            -->

            <div class="form-group">
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>