<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!--
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Ir a Login</button>
</form>
-->
<form th:action="@{/user/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Ir a Menu Principal</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/edit/user}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{name}"/>
                <input type="hidden" th:field="*{lastName}"/>
                <input type="hidden" th:field="*{active}"/>
                <input type="hidden" th:field="*{email}"/>
                <input type="hidden" th:field="*{password}"/>
                <input type="hidden" th:field="*{identificadorOpcion}"/>

                <h2>Editar usuario</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{name}" placeholder="Name" class="form-control" disabled="disabled"/>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control" disabled="disabled"/>
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{active}" placeholder="Active" class="form-control" disabled="disabled"/>
                        <label th:if="${#fields.hasErrors('active')}" th:errors="*{active}" class="validation-message"></label>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email" class="form-control" disabled="disabled"/>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Ciudad :</label>
                    <div class="col-sm-10">
                        <select th:field="*{id_city}">
                            <option th:each="id_city : ${cities}"
                                    th:value="${id_city.id}"
                                    th:text="${id_city.nombre_ciudad}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Editar usuario</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>
                <!--
                <a></a>
                <a th:href="${'/user/home'}">Volver menu principal</a>
                -->
            </form>
        </div>
    </div>
</div>

</body>
</html>