


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Lista de restaurantes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>


<div class="container">
    <div th:if="${not #lists.isEmpty(pedidos)}">




        <a th:href="${'/logout'}">Logout</a>
        <h1>Lista de Pedidos</h1>



        <form th:action="@{/admin/restaurant/new}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">New Restaurant</button>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Direccion</th>
            </tr>

            <tr>
                <th>Calle</th>
            </tr>

            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.direccion}">Direccion</td>
                <td th:text="${pedido.calle}">Calle</td>
                <td><a th:href="${'/pedido/edit/' + pedido.id}">Editar</a></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>