<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--//cambio en la parte del magister
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbtRkucXOu4oZKAJk0mZqu5nsRizGe7uQ">
    </script>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>

<body>


<button class="btn btn-md btn-warning btn-block" type="Submit">GOOGLE MAP</button>
<!--
<h3>My Google Maps Demo</h3>
-->

<button id="routebtn">CalcularRuta</button>
<div id="map"></div>

<button class="btn btn-md btn-warning btn-block" type="Submit">GOOGLE MAP</button>

<div id="menu">
    <ul>
        <!--
        <li><a th:href="${'/user/home'}">volver al inicio</a></li>
        -->

    </ul>
</div>

<script th:inline="javascript">


    function initMap() {
        var cbba = new google.maps.LatLng([[${-17.389}]], [[${-66.156}]]);

        var map = new google.maps.Map(document.getElementById('map'), { //creo el mapa
            zoom: 15,
            center: cbba  // latitud y longitud de la Universidad(posicion en la que se crea el mapa).
        });

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
            draggable: false,  //true permite mover los puntos de origen y destino
            map: map,
            panel: document.getElementById('right-panel')
        });

        directionsDisplay.addListener('directions_changed', function() {
            computeTotalDistance(directionsDisplay.getDirections());
        });
        //llama a la funcion displayRoute definida luego
        displayRoute(new google.maps.LatLng([[${pedido.latitudPedido}]], [[${pedido.longitudPedido}]]), new google.maps.LatLng([[${restaurant.latitudRestaurant}]], [[${restaurant.longitudRestaurant}]]), directionsService,
            directionsDisplay);
    }

    function displayRoute(origin, destination, service, display) {
        service.route({
            origin: origin,
            destination: destination,
            travelMode: 'DRIVING',   //se puede cambiar a otros 3 modos(WALKING,BICYCLING,TRANSIT)
            avoidTolls: true
        }, function(response, status) {
            if (status === 'OK') {
                display.setDirections(response);
            } else {
                alert('No se pudo mostrar las direcciones debido a: ' + status);
            }
        });
    }


    initMap();//llama al la funcion para dibujar el mapa
</script>
<img th:src="@{/prueba.png}" ></img>

</body>
</html>