<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Option</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">

    <h2 class="btn btn-md btn-warning btn-block" type="Submit">OPCION</h2>
    <div>
        <form class="form-horizontal" th:object="${choice}" th:action="@{/choice}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label"> Nombre :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nombre_Opcion}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Restaurante :</label>
                <div class="col-sm-10">
                    <select th:field="*{category_restaurant}">
                        <option th:each="category_restaurant : ${restaurants}"
                                th:value="${category_restaurant.id}"
                                th:text="${category_restaurant.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"> Precio :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{precio_Opcion}"/>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Guardar</button>

            </div>


        </form>
    </div>
</div>
</body>
</html>