<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>RESTAURANT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h2 class="btn btn-md btn-warning btn-block" type="Submit">Detalles restaurante</h2>
    <table class="table table-striped">

        <tr>
            <th>Nro Id</th>
            <th>Direccion</th>
            <th>Celular</th>
            <th>Descripcion</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Ciudad</th>
        </tr>

        <tr>
            <td th:text="${restaurant.id}" > </td>
            <td th:text="${restaurant.address}" > </td>
            <td th:text="${restaurant.cell}" > </td>
            <td th:text="${restaurant.description}" > </td>
            <td th:text="${restaurant.email}" > </td>
            <td th:text="${restaurant.name}" > </td>
            <td th:text="${restaurant.phone}" > </td>
            <td th:text="${restaurant.id_city_rest.nombre_ciudad}" > </td>
        </tr>


    </table>
</div>
</body>
</html>